.main{
    margin-top: 50px;
    padding: 60px 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(31, 0, 59);
    width: 100%;
    box-sizing: border-box;
}
.first{
    display: grid;
    gap: 20px;
}
.brand{
    font-size: 30px;
}
.social{
    display: flex;
    gap: 30px;
}
.icon {
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.icon:hover {
    cursor: pointer;
    
    filter: drop-shadow(0px 0px 20px #cb51ff);
}

.second{
    display: flex;
    gap: 100px;
}
.head{
    background: linear-gradient(90deg, #8c00ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub{
    transition: 0.3s;
    font-weight: 400;
}
.sub:hover{
    color: #A700ED;
    cursor: pointer;
    text-shadow: 0px 0px 30px #c439ff;

}
@media (max-width:430px) {
    .main{
        display: grid;
        padding: 20px ;
        width: 100%;
        
    }
    .second{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
    }
    
}