.main{
    padding: 0px 150px;
    display: grid;
    margin-top: 110px;
}
.one{
    display: grid;
    margin: auto;
    align-items: center;
}
.title{
    background: linear-gradient(90deg, #8c00ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-family: "Cal Sans", sans-serif;
    text-align: center;
    letter-spacing: 1.5px;
    color: #A700ED;
    line-height: 90px;
}
.subT{
    margin-top: -20px;
    font-size: 1.2rem;
    text-align: center;
}
.two{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}
.obj{
    display: grid;
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: #ffffff23;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    line-height: 30px;
    transition: 0.4s;
}
.obj:hover{
    box-shadow: 0px 0px 20px 10px #A700ED;
    cursor: pointer;
    transform: scale(1.05);
}
.inT{
    font-size: 1.4rem;
    color: liner;
}
.svgI{
    color: #ffffff;
    width: 50px;
    margin: auto;
    align-items: center;
}
@media (max-width: 430px) {
    .main{
        padding: 30px 10px;
    }
    .title{
        margin-top: -60px;
        font-size: 35px;
        line-height: 50px;
    }
    .subT{
        font-size: 1.2rem;
    }
    .two{
        display: grid;
        gap: 30px;
    }
    .obj:hover{
        box-shadow: 0px 0px 20px 10px #A700ED;

    }
    
}