.main{
    padding: 0px 150px;
    display: flex;
    margin-top: 110px;
    gap: 400px;
}
.home2{
    display: flex;
    margin: auto;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-left: 50px;
}
.title, .title2{
    font-size: 70px;
    font-family: "Cal Sans", sans-serif;
    letter-spacing: 2px;
    line-height: 10px;

}
.two{
    margin-left: -50px;
}
.cardObj1{
    display: flex;
    gap: 20px;
}.cardObj2{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card1 {
    position: relative;
    width: 300px;
    height: 200px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 0px 10px;
    transition: 0.4s;
    overflow: hidden;
}

.card1::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 3px; 
    background: linear-gradient(90deg, #A700ED, #00C8FF);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.card1:hover {
    box-shadow: 0px 0px 20px 10px #c301f385;
    transform: scale(1.02);
    cursor: pointer;
}

.card2{
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.card3{
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.card4{
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.user{
    display: flex;
    margin: auto;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.name{
    margin-left: 80px;
    margin-top: -40px;
    color: #ffffff;
}
.jobRoll{
    margin-left: 80px;
    margin-top: -20px;
    font-size: 12px;
    color: rgb(53, 53, 53);

}
.rate{
    display: flex;
    width: 40px;
    margin-left: 80px;
    margin-top: -18px;
}
.yellow{
    color: rgb(255, 174, 0);
}
.white{
    color: rgb(49, 49, 49);
}
.para{
    color: black;
    align-items: center;
    text-align: justify;
    justify-content: center;
    padding: 10px 10px;
    background-color: rgb(190, 190, 190);
    border-radius: 6px;
    margin-top: 8px;
}
@keyframes float {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

.home2 {
    animation: float 3s ease-in-out infinite;
}


@media (max-width: 912px) {
    .main{
        padding: 60px;
        gap: 300px;
    }
    .two{
        display: grid;
        margin-left: -180px;
    }
    .title, .title2{
        display: flex;
        font-size: 60px;
        align-items: left;
        justify-content: left;
    }
    
}
@media (max-width: 430px) {
    .main{
        display: grid;
        padding: 0px 20px;
        align-items: center;
        justify-content: center;
    }
    .two{
        display: grid;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: -400px;
    }
    .title, .title2{
        display: flex;
        font-size: 30px;
        align-items: center;
        justify-content: center;
    }
    .home2{
        display: none;
    }
    .cardObj1, .cardObj2{
        display: grid;
        margin: auto;
        align-items: center;
        justify-content: center;
        place-items: center;
        padding: 10px;
    }
    
}