.getStarted{
    width: 180px;
    height: 50px;
    font-size: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: 0.4s;
}
.getStarted:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(12, 12, 12);

}